body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  padding: 40px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  background: dodgerblue url(https://pages-themes.github.io/architect/assets/images/header-bg.jpg) 0 0 repeat-x;
  border-bottom: solid 1px #275da1;
  color: white;
}

li {
  line-height: 2em;
}